.bec{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10%;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 30%;
}
.eip{
    margin-bottom: 10px;
}
.bhd{
    margin-bottom: 10px;
}